<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
    <h1>
        Hello, {{name}}!
    </h1>
    <h3>
      Today's technology headlines are...
    </h3>
    <h3>
      <table border="1">
        <tr>
          <th>Title</th>
          <th>Thumbnail</th>
        </tr>
        {% for headline, link, thumbnail in headline_link_thumbnails %}
          <tr>
            <td><a href={{link}}> {{headline}} </a></td>
            <td><img src={{thumbnail}} width="250"></td>
          </tr>
        {% endfor %}
      </table>
    </h3>
</body>
</html>